body{
  background-image: url(../src/Photos/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
  max-width: 100%;
  max-width: 100%;
  display: block;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  width: device-width;
}


.Text{
  top: 60px;
  color: whitesmoke;
  font-family: open-sans-serif;
  text-align: center ;
  font-size: larger;
}

.Name{
  text-align: center;
  font-family: open-sans-serif;
  color: whitesmoke;
}
.Navlinks{
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  border-radius: 15px;
  padding: 0.7rem 1rem;
  border-radius: 15px;
}

.Navlinks:hover{
  background-color: rgb(155, 148, 139);
  transition: all 0.275s ease-in-out;
}

.Navmenu{
  position: sticky;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 7px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}
